[Unit]
Description=Golang HTTP File Upload Service
Wants=network.target

[Service]
Type=simple
Environment="GOLANGHTTPUPLOAD_UPLOAD_PATH=/tmp/PrintMeDir" "GOLANGHTTPUPLOAD_SERVE_PATH=/var/www/golang-http-file-upload" "GOLANGHTTPUPLOAD_BINDIP_PORT=:80"
ExecStart=/usr/local/bin/golang-http-file-upload
User=debian
Nice=10
ReadWritePaths=-/tmp/PrintMeDir
ReadOnlyPaths=/var/www/golang-http-file-upload
Restart=always
AmbientCapabilities=CAP_NET_BIND_SERVICE
TimeoutSec=2
KillMode=process

[Install]
WantedBy=multi-user.target
